{% extends 'base/base2.html' %}
{% load static %}
{% block title %} Oqim {% endblock %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="container">
                <br>
                <h3 class="text-center"> Mening havolalarim </h3>
                <br>

                <div class="row">

                    <div class="col-sm-4">
                        <div class="card-header">
                            <!-- <a href="#" onclick="myFunction(41361)" data-request="onDeleteStream"
                                data-request-data="'id': 41361, 'csrftoken':dMy353UsczdIH8irymMUBUOnbP2fwKZUsesBsiGZMHw6W3JqgRJb0C9JQG0I2H9N"
                                data-request-flash="" data-request-success="$(this).closest('.col-sm-4').remove()"
                                data-request-confirm="Siz rostdan ham oqimni o'chirmoqchimisiz?" class="text-danger"
                                style="float: right"> <span class="fa fa-trash" aria-hidden="true"></span> </a> -->

                            <h5>nom</h5>


                        </div>
                        <div class="card">
                            <div class="card-body" style="position: relative;">
                                <div class="form-group">
                                    <input type="text" value="https://alijahon.uz/oqim/41361" readonly=""
                                           class="ref_link form-control">
                                </div>
                                <button class="copy_ref_bn btn btn-primary"
                                        style="float:left; margin-right:9px; margin-top: 9px;">Nusxa ko'chirish
                                </button>
                                <a href="https://alijahon.uz/oqim/41361" target="_blank"><i
                                        class="fa-solid fa-square-arrow-up-right"
                                        style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px; margin-right:9px;"
                                        aria-hidden="true"></i></a>
                                <a href="https://t.me/AlijahonBot?start=order_41361" target="_blank"><i
                                        class="fa-brands fa-telegram"
                                        style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px;"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


<div class="card mb-3">
    <div class="card-body">
        <div class="container">
            <br>
            <h3 class="text-center"> Mening havolalarim </h3>
            <br>

            <div class="row">

                <div class="col-sm-4">
                    <div class="card-header">
                        <!-- <a href="#" onclick="myFunction(52228)" data-request="onDeleteStream"
                            data-request-data="'id': 52228, 'csrftoken':WnurdtHDKI9A35Uapw84cEieoM6mcykANRXxkCmdesyo0tB22v82HIce4TtKJU1f"
                            data-request-flash="" data-request-success="$(this).closest('.col-sm-4').remove()"
                            data-request-confirm="Siz rostdan ham oqimni o'chirmoqchimisiz?" class="text-danger"
                            style="float: right"> <span class="fa fa-trash" aria-hidden="true"></span> </a> -->

                        <h5>fkdjsfhkjsdh</h5>


                    </div>
                    <div class="card">
                        <div class="card-body" style="position: relative;">
                            <div class="form-group">
                                <input type="text" value="https://alijahon.uz/oqim/52228" readonly=""
                                       class="ref_link form-control">
                            </div>
                            <button class="copy_ref_bn btn btn-primary"
                                    style="float:left; margin-right:9px; margin-top: 9px;">Nusxa ko'chirish
                            </button>
                            <a href="https://alijahon.uz/oqim/52228" target="_blank"><i
                                    class="fa-solid fa-square-arrow-up-right"
                                    style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px; margin-right:9px;"
                                    aria-hidden="true"></i></a>
                            <a href="https://t.me/AlijahonBot?start=order_52228" target="_blank"><i
                                    class="fa-brands fa-telegram"
                                    style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px;"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-sm-4">
                    <div class="card-header">
                        <!-- <a href="#" onclick="myFunction(41361)" data-request="onDeleteStream"
                            data-request-data="'id': 41361, 'csrftoken':WnurdtHDKI9A35Uapw84cEieoM6mcykANRXxkCmdesyo0tB22v82HIce4TtKJU1f"
                            data-request-flash="" data-request-success="$(this).closest('.col-sm-4').remove()"
                            data-request-confirm="Siz rostdan ham oqimni o'chirmoqchimisiz?" class="text-danger"
                            style="float: right"> <span class="fa fa-trash" aria-hidden="true"></span> </a> -->

                        <h5>nom</h5>


                    </div>
                    <div class="card">
                        <div class="card-body" style="position: relative;">
                            <div class="form-group">
                                <input type="text" value="https://alijahon.uz/oqim/41361" readonly=""
                                       class="ref_link form-control">
                            </div>
                            <button class="copy_ref_bn btn btn-primary"
                                    style="float:left; margin-right:9px; margin-top: 9px;">Nusxa ko'chirish
                            </button>
                            <a href="https://alijahon.uz/oqim/41361" target="_blank"><i
                                    class="fa-solid fa-square-arrow-up-right"
                                    style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px; margin-right:9px;"
                                    aria-hidden="true"></i></a>
                            <a href="https://t.me/AlijahonBot?start=order_41361" target="_blank"><i
                                    class="fa-brands fa-telegram"
                                    style="font-size: 29px; float:left; color:#e52c2c; margin-top: 9px;"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>
</div>
